Flask         # Flask 3.0.3 should be compatible with Python 3.12, but using the latest version can help ensure compatibility.
Flask-Cors     # Flask-Cors 5.0.0 should be compatible with Python 3.12, but using the latest version is recommended.
joblib         # joblib 1.2.0 is compatible with Python 3.12.
requests      # requests 2.28.2 is compatible with Python 3.12.
numpy      # Updated to a version that ensures compatibility with Python 3.12.
pandas         # Updated to a version that ensures compatibility with Python 3.12.
scikit-learn   # scikit-learn 1.2.2 is compatible with Python 3.12.
